## Imports

In [15]:
import os, shutil
import requests
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
from sqlalchemy import create_engine
from matplotlib import pyplot as plt
from datetime import datetime

#turn off annoying warnigns
pd.options.mode.chained_assignment = None  # default='warn'

## Task 1: Data Collection

In [16]:
url = "https://www.worldometers.info/coronavirus/"
htmlContent = requests.get(url).text

soup = BeautifulSoup(htmlContent, 'html.parser')
covidTable = soup.find("table",attrs={"id": "main_table_countries_today"})

## Task 2: Main Data Extract

In [17]:
# extract the table headings from the soup
head = covidTable.thead.find_all("tr")
headings = []

for th in head[0].find_all("th"):
    headings.append(th.text.replace("\n", "").strip())

# extract actual data from the soup
body = covidTable.tbody.find_all("tr")
data = []

# iterate through every row in the html
for r in range(1,len(body)):
    row = []
    # find all column entries in that particular row
    for tr in body[r].find_all("td"):
        row.append(tr.text.replace("\n","").strip())
    len(row)
    data.append(row)

df = pd.DataFrame(data,columns = headings)

######################################################################
#                         CLEAN DATA TABLE                           #
######################################################################

# define nan object
NaN = np.nan

# recover appropriate columns
df = df.filter(['Continent', 'Country,Other','TotalCases','TotalRecovered','Serious,Critical','ActiveCases','TotalDeaths']) 

# strip artefacts
df = df.replace(',','', regex=True)
df = df.replace('\+','', regex=True)
df = df.replace('', NaN, regex=True)

# convert appropriate columns to integer type
df[['TotalCases', 'TotalRecovered','Serious,Critical','ActiveCases','TotalDeaths']] = df[['TotalCases', 'TotalRecovered','Serious,Critical','ActiveCases','TotalDeaths']].apply(pd.to_numeric, downcast = 'float', errors = 'coerce')
df.head(20)

# add date of processing to all rows
now = datetime.now()
dt_string = now.strftime("%d/%m/%Y")
df['date_processed'] = dt_string

#rename the columns for consistency
df.rename(columns = {'Continent':'continent','Country,Other':'country','TotalCases':'total_cases','TotalRecovered':'total_recovered','Serious,Critical':'critical_active','ActiveCases':'active_cases','TotalDeaths':'total_deaths'}, inplace=True)

## Task 3: Extract Tables

In [23]:
############# world
world_df = df.loc[df['country'] == "World"]

# select our data for plotting:
world_df = world_df.filter(['total_cases','total_recovered','critical_active','active_cases','total_deaths', 'date_processed'])

# this is the correct way to add a new column from existing columns!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
world_df = world_df.assign(non_critical_active = world_df['active_cases'].astype(float) - world_df['critical_active'].astype(float))
# drop active_cases now
world_df = world_df.drop(columns = ['active_cases']).reset_index(drop=True)

# add in percentage columns
world_df = world_df.assign(total_recovered_percentage = round(((world_df['total_recovered'].astype(float) / world_df['total_cases'].astype(float)) * 100),2))
world_df = world_df.assign(critical_active_percentage = round(((world_df['critical_active'].astype(float) / world_df['total_cases'].astype(float)) * 100),2))
world_df = world_df.assign(total_deaths_percentage = round(((world_df['total_deaths'].astype(float) / world_df['total_cases'].astype(float)) * 100),2))
world_df = world_df.assign(non_critical_active_percentage = round(((world_df['non_critical_active'].astype(float) / world_df['total_cases'].astype(float)) * 100),2))



############ continent 
continents_df = df.iloc[0:5]
continents_df.drop(columns=['country'], inplace=True)

# create a row of data to append to the continents for North America
na = df.loc[df['continent'] == "North America"]
del na["continent"]
na = na.replace('','0', regex=True)
row = []
row.append("North America")

for column in na.columns[1:]:
    na[column] = pd.to_numeric(na[column], errors='coerce')
    row.append(round(na[column].sum()))
row = [row]

continents_df = continents_df.append(pd.DataFrame( row, columns=continents_df.columns), ignore_index = True)

continents_df = continents_df.assign(non_critical_active = continents_df['active_cases'].astype(float) - continents_df['critical_active'].astype(float))
# drop active_cases now
continents_df = continents_df.drop(columns = ['active_cases']).reset_index(drop=True)

# add in percentage columns
continents_df = continents_df.assign(total_recovered_percentage = round(((continents_df['total_recovered'].astype(float) / continents_df['total_cases'].astype(float)) * 100),2))
continents_df = continents_df.assign(critical_active_percentage = round(((continents_df['critical_active'].astype(float) / continents_df['total_cases'].astype(float)) * 100),2))
continents_df = continents_df.assign(total_deaths_percentage = round(((continents_df['total_deaths'].astype(float) / continents_df['total_cases'].astype(float)) * 100),2))
continents_df = continents_df.assign(non_critical_active_percentage = round(((continents_df['non_critical_active'].astype(float) / continents_df['total_cases'].astype(float)) * 100),2))

continents_df.date_processed[continents_df.continent == 'North America'] = dt_string

continents_df = continents_df.sort_values(by=['total_cases'], ascending=False).reset_index(drop=True)

############ country
countries_df = df.loc[7:len(df)]
countries_df = countries_df.reset_index()
countries_df = countries_df.drop(columns = 'index')

countries_df = countries_df.assign(non_critical_active = countries_df['active_cases'].astype(float) - countries_df['critical_active'].astype(float))
countries_df = countries_df.drop(columns = ['active_cases']).reset_index(drop=True)


# add in percentage columns
countries_df = countries_df.assign(total_recovered_percentage = round(((countries_df['total_recovered'].astype(float) / countries_df['total_cases'].astype(float)) * 100),2))
countries_df = countries_df.assign(critical_active_percentage = round(((countries_df['critical_active'].astype(float) / countries_df['total_cases'].astype(float)) * 100),2))
countries_df = countries_df.assign(total_deaths_percentage = round(((countries_df['total_deaths'].astype(float) / countries_df['total_cases'].astype(float)) * 100),2))
countries_df = countries_df.assign(non_critical_active_percentage = round(((countries_df['non_critical_active'].astype(float) / countries_df['total_cases'].astype(float)) * 100),2))

countries_df = countries_df.sort_values(by=['total_cases'], ascending=False).reset_index(drop=True)

,continent,total_cases,total_recovered,critical_active,total_deaths,date_processed,non_critical_active,total_recovered_percentage,critical_active_percentage,total_deaths_percentage,non_critical_active_percentage
0,Asia,59823684.0,56350736.0,30859.0,859476.0,22/07/2021,2582613.0,94.19,0.05,1.44,4.32
1,Europe,50386536.0,46361864.0,6697.0,1123793.0,22/07/2021,2894181.0,92.01,0.01,2.23,5.74
2,North America,41670772.0,34885740.0,13507.0,931702.0,22/07/2021,5839829.0,83.72,0.03,2.24,14.01
3,South America,34797900.0,32299920.0,26851.0,1069595.0,22/07/2021,1401533.0,92.82,0.08,3.07,4.03
4,Africa,6393801.0,5580688.0,4325.0,161301.0,22/07/2021,647487.0,87.28,0.07,2.52,10.13

## Task 4: Create CSVs

In [19]:
# create a folder for the csv data extracts if there isn't aready one using the os module
path = os.getcwd()
directory = 'csv_extracts'

if os.path.isdir(directory):
    print("Extracts directory found at '%s'" % (path+directory))
    path = os.path.join(path, directory)

    for filename in os.listdir(directory):
        file_path = os.path.join(directory, filename)
        print("Removing old file '%s' at '%s'" % (filename, file_path))
        try:
            if os.path.isfile(file_path) or os.path.islink(file_path):
                os.unlink(file_path)
            elif os.path.isdir(file_path):
                shutil.rmtree(file_path)
        except Exception as e:
            print('Failed to delete %s. Reason: %s' % (file_path, e))
else:
    print('Extracts directory not found, creating csv extracts directory and files...')
    path = os.path.join(path, directory)
    os.mkdir(path)
    try:
        if os.path.isdir(directory):
            print("Directory '% s' successfully created" % directory)
    except Exception as e:
        print("Could not create directory '% s'. Reason: %s" % (directory, e))
        
# create csv files from extracts
now = datetime.now()
dt_string = now.strftime("%d%m%Y")

# world df
csv_name = path + "/world_csv_" + dt_string + ".csv"
print(csv_name)
world_df.to_csv(csv_name)

# continents df
csv_name = path + "/continent_csv_" + dt_string + ".csv"
print(csv_name)
continents_df.to_csv(csv_name)

# countries df
csv_name = path + "/country_csv_" + dt_string + ".csv"
print(csv_name)
countries_df.to_csv(csv_name)

Extracts directory found at 'c:\Users\marja\Documents\Repositories\Personal Code\Python-Projects-and-Challenges\Python Covid Tracker\src\covid-task-schedulercsv_extracts'
Removing old file 'continent_csv_22072021.csv' at 'csv_extracts\continent_csv_22072021.csv'
Removing old file 'country_csv_22072021.csv' at 'csv_extracts\country_csv_22072021.csv'
Removing old file 'world_csv_22072021.csv' at 'csv_extracts\world_csv_22072021.csv'
c:\Users\marja\Documents\Repositories\Personal Code\Python-Projects-and-Challenges\Python Covid Tracker\src\covid-task-scheduler\csv_extracts/world_csv_22072021.csv
c:\Users\marja\Documents\Repositories\Personal Code\Python-Projects-and-Challenges\Python Covid Tracker\src\covid-task-scheduler\csv_extracts/continent_csv_22072021.csv
c:\Users\marja\Documents\Repositories\Personal Code\Python-Projects-and-Challenges\Python Covid Tracker\src\covid-task-scheduler\csv_extracts/country_csv_22072021.csv

## Task 5: Upload data extracts to database

In [20]:
engine = create_engine('sqlite:///../application/site.db', echo=True)
sqlite_connection = engine.connect()

world_df.to_sql("world", sqlite_connection, if_exists='replace')

continents_df.to_sql("continents", sqlite_connection, if_exists='replace')

countries_df.to_sql("countries", sqlite_connection, if_exists='replace')

sqlite_connection.close()

2021-07-22 20:23:27,626 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("world")
2021-07-22 20:23:27,626 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-07-22 20:23:27,627 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("world")
2021-07-22 20:23:27,627 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-07-22 20:23:27,628 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-07-22 20:23:27,628 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-07-22 20:23:27,629 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("world")
2021-07-22 20:23:27,630 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-07-22 20:23:27,631 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-07-22 20:23:27,631 INFO sqlalchemy.engine.Engine [raw sql] ('world',)
2021-07-22 20:23:27,632 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("world")
2021-07-22 20:23:27,632 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-07-22 20:23:27,633 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("world")
2021-07-22 20:23:27,633 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-07-22 20:23:27,634 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-07-22 20:23:27,634 INFO sqlalchemy.engine.Engine [raw sql] ('world',)
2021-07-22 20:23:27,635 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("world")
2021-07-22 20:23:27,635 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-07-22 20:23:27,636 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("ix_world_index")
2021-07-22 20:23:27,636 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-07-22 20:23:27,637 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("world")
2021-07-22 20:23:27,637 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-07-22 20:23:27,638 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("ix_world_index")
2021-07-22 20:23:27,638 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-07-22 20:23:27,639 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-07-22 20:23:27,640 INFO sqlalchemy.engine.Engine [raw sql] ('world',)
2021-07-22 20:23:27,641 INFO sqlalchemy.engine.Engine
DROP TABLE world
2021-07-22 20:23:27,641 INFO sqlalchemy.engine.Engine [no key 0.00034s] ()
2021-07-22 20:23:27,665 INFO sqlalchemy.engine.Engine COMMIT
2021-07-22 20:23:27,667 INFO sqlalchemy.engine.Engine
CREATE TABLE world (
	"index" BIGINT,
	total_cases FLOAT,
	total_recovered FLOAT,
	critical_active FLOAT,
	total_deaths FLOAT,
	date_processed TEXT,
	non_critical_active FLOAT,
	total_recovered_percentage FLOAT,
	critical_active_percentage FLOAT,
	total_deaths_percentage FLOAT,
	non_critical_active_percentage FLOAT
)


2021-07-22 20:23:27,668 INFO sqlalchemy.engine.Engine [no key 0.00057s] ()
2021-07-22 20:23:27,691 INFO sqlalchemy.engine.Engine COMMIT
2021-07-22 20:23:27,693 INFO sqlalchemy.engine.Engine CREATE INDEX ix_world_index ON world ("index")
2021-07-22 20:23:27,694 INFO sqlalchemy.engine.Engine [no key 0.00066s] ()
2021-07-22 20:23:27,717 INFO sqlalchemy.engine.Engine COMMIT
2021-07-22 20:23:27,719 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-07-22 20:23:27,721 INFO sqlalchemy.engine.Engine INSERT INTO world ("index", total_cases, total_recovered, critical_active, total_deaths, date_processed, non_critical_active, total_recovered_percentage, critical_active_percentage, total_deaths_percentage, non_critical_active_percentage) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-07-22 20:23:27,721 INFO sqlalchemy.engine.Engine [generated in 0.00051s] (0, 193167424.0, 175553488.0, 82304.0, 4147328.0, '22/07/2021', 13384313.0, 90.88, 0.04, 2.15, 6.93)
2021-07-22 20:23:27,722 INFO sqlalchemy.engine.Engine COMMIT
2021-07-22 20:23:27,759 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("continents")
2021-07-22 20:23:27,760 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-07-22 20:23:27,761 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("continents")
2021-07-22 20:23:27,762 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-07-22 20:23:27,762 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-07-22 20:23:27,763 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-07-22 20:23:27,764 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("continents")
2021-07-22 20:23:27,764 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-07-22 20:23:27,766 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-07-22 20:23:27,766 INFO sqlalchemy.engine.Engine [raw sql] ('continents',)
2021-07-22 20:23:27,767 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("continents")
2021-07-22 20:23:27,767 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-07-22 20:23:27,768 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("continents")
2021-07-22 20:23:27,768 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-07-22 20:23:27,769 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-07-22 20:23:27,769 INFO sqlalchemy.engine.Engine [raw sql] ('continents',)
2021-07-22 20:23:27,770 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("continents")
2021-07-22 20:23:27,771 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-07-22 20:23:27,771 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("ix_continents_index")
2021-07-22 20:23:27,772 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-07-22 20:23:27,772 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("continents")
2021-07-22 20:23:27,773 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-07-22 20:23:27,773 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("ix_continents_index")
2021-07-22 20:23:27,774 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-07-22 20:23:27,775 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-07-22 20:23:27,775 INFO sqlalchemy.engine.Engine [raw sql] ('continents',)
2021-07-22 20:23:27,777 INFO sqlalchemy.engine.Engine
DROP TABLE continents
2021-07-22 20:23:27,777 INFO sqlalchemy.engine.Engine [no key 0.00059s] ()
2021-07-22 20:23:27,804 INFO sqlalchemy.engine.Engine COMMIT
2021-07-22 20:23:27,806 INFO sqlalchemy.engine.Engine
CREATE TABLE continents (
	"index" BIGINT,
	continent TEXT,
	total_cases FLOAT,
	total_recovered FLOAT,
	critical_active FLOAT,
	total_deaths FLOAT,
	date_processed TEXT,
	non_critical_active FLOAT,
	total_recovered_percentage FLOAT,
	critical_active_percentage FLOAT,
	total_deaths_percentage FLOAT,
	non_critical_active_percentage FLOAT
)


2021-07-22 20:23:27,807 INFO sqlalchemy.engine.Engine [no key 0.00071s] ()
2021-07-22 20:23:27,811 INFO sqlalchemy.engine.Engine COMMIT
2021-07-22 20:23:27,812 INFO sqlalchemy.engine.Engine CREATE INDEX ix_continents_index ON continents ("index")
2021-07-22 20:23:27,812 INFO sqlalchemy.engine.Engine [no key 0.00042s] ()
2021-07-22 20:23:27,838 INFO sqlalchemy.engine.Engine COMMIT
2021-07-22 20:23:27,840 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-07-22 20:23:27,841 INFO sqlalchemy.engine.Engine INSERT INTO continents ("index", continent, total_cases, total_recovered, critical_active, total_deaths, date_processed, non_critical_active, total_recovered_percentage, critical_active_percentage, total_deaths_percentage, non_critical_active_percentage) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-07-22 20:23:27,841 INFO sqlalchemy.engine.Engine [generated in 0.00064s] ((0, 'Asia', 59823684.0, 56350736.0, 30859.0, 859476.0, '22/07/2021', 2582613.0, 94.19, 0.05, 1.44, 4.32), (1, 'Europe', 50386536.0, 46361864.0, 6697.0, 1123793.0, '22/07/2021', 2894181.0, 92.01, 0.01, 2.23, 5.74), (2, 'North America', 41670772.0, 34885740.0, 13507.0, 931702.0, 0, 5839829.0, 83.72, 0.03, 2.24, 14.01), (3, 'South America', 34797900.0, 32299920.0, 26851.0, 1069595.0, '22/07/2021', 1401533.0, 92.82, 0.08, 3.07, 4.03), (4, 'Africa', 6393801.0, 5580688.0, 4325.0, 161301.0, '22/07/2021', 647487.0, 87.28, 0.07, 2.52, 10.13), (5, 'Australia/Oceania', 94006.0, 73825.0, 65.0, 1446.0, '22/07/2021', 18670.0, 78.53, 0.07, 1.54, 19.86))
2021-07-22 20:23:27,843 INFO sqlalchemy.engine.Engine COMMIT
2021-07-22 20:23:27,880 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("countries")
2021-07-22 20:23:27,881 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-07-22 20:23:27,882 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("countries")
2021-07-22 20:23:27,883 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-07-22 20:23:27,883 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-07-22 20:23:27,884 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-07-22 20:23:27,885 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("countries")
2021-07-22 20:23:27,885 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-07-22 20:23:27,886 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-07-22 20:23:27,887 INFO sqlalchemy.engine.Engine [raw sql] ('countries',)
2021-07-22 20:23:27,887 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("countries")
2021-07-22 20:23:27,888 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-07-22 20:23:27,888 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("countries")
2021-07-22 20:23:27,888 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-07-22 20:23:27,889 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-07-22 20:23:27,889 INFO sqlalchemy.engine.Engine [raw sql] ('countries',)
2021-07-22 20:23:27,890 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("countries")
2021-07-22 20:23:27,890 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-07-22 20:23:27,891 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("ix_countries_index")
2021-07-22 20:23:27,891 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-07-22 20:23:27,892 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("countries")
2021-07-22 20:23:27,892 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-07-22 20:23:27,893 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("ix_countries_index")
2021-07-22 20:23:27,894 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-07-22 20:23:27,894 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-07-22 20:23:27,895 INFO sqlalchemy.engine.Engine [raw sql] ('countries',)
2021-07-22 20:23:27,896 INFO sqlalchemy.engine.Engine
DROP TABLE countries
2021-07-22 20:23:27,896 INFO sqlalchemy.engine.Engine [no key 0.00045s] ()
2021-07-22 20:23:27,920 INFO sqlalchemy.engine.Engine COMMIT
2021-07-22 20:23:27,922 INFO sqlalchemy.engine.Engine
CREATE TABLE countries (
	"index" BIGINT,
	continent TEXT,
	country TEXT,
	total_cases FLOAT,
	total_recovered FLOAT,
	critical_active FLOAT,
	total_deaths FLOAT,
	date_processed TEXT,
	non_critical_active FLOAT,
	total_recovered_percentage FLOAT,
	critical_active_percentage FLOAT,
	total_deaths_percentage FLOAT,
	non_critical_active_percentage FLOAT
)


2021-07-22 20:23:27,922 INFO sqlalchemy.engine.Engine [no key 0.00041s] ()
2021-07-22 20:23:27,946 INFO sqlalchemy.engine.Engine COMMIT
2021-07-22 20:23:27,947 INFO sqlalchemy.engine.Engine CREATE INDEX ix_countries_index ON countries ("index")
2021-07-22 20:23:27,947 INFO sqlalchemy.engine.Engine [no key 0.00049s] ()
2021-07-22 20:23:27,971 INFO sqlalchemy.engine.Engine COMMIT
2021-07-22 20:23:27,973 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-07-22 20:23:27,975 INFO sqlalchemy.engine.Engine INSERT INTO countries ("index", continent, country, total_cases, total_recovered, critical_active, total_deaths, date_processed, non_critical_active, total_recovered_percentage, critical_active_percentage, total_deaths_percentage, non_critical_active_percentage) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-07-22 20:23:27,976 INFO sqlalchemy.engine.Engine [generated in 0.00135s] ((0, 'North America', 'USA', 35148756.0, 29458848.0, 6484.0, 625862.0, '22/07/2021', 5057564.0, 83.81, 0.02, 1.78, 14.39), (1, 'Asia', 'India', 31289116.0, 30454756.0, 8944.0, 419471.0, '22/07/2021', 405943.0, 97.33, 0.03, 1.34, 1.3), (2, 'South America', 'Brazil', 19474488.0, 18206172.0, 8318.0, 545690.0, '22/07/2021', 714308.0, 93.49, 0.04, 2.8, 3.67), (3, 'Europe', 'Russia', 6054711.0, 5427457.0, 2300.0, 151501.0, '22/07/2021', 473453.0, 89.64, 0.04, 2.5, 7.82), (4, 'Europe', 'France', 5933510.0, 5669094.0, 868.0, 111565.0, '22/07/2021', 151983.0, 95.54, 0.01, 1.88, 2.56), (5, 'Europe', 'UK', 5602321.0, 4427533.0, 647.0, 128980.0, '22/07/2021', 1045161.0, 79.03, 0.01, 2.3, 18.66), (6, 'Asia', 'Turkey', 5563903.0, 5405339.0, 543.0, 50761.0, '22/07/2021', 107260.0, 97.15, 0.01, 0.91, 1.93), (7, 'South America', 'Argentina', 4798851.0, 4431871.0, 4583.0, 102818.0, '22/07/2021', 259579.0, 92.35, 0.1, 2.14, 5.41)  ... displaying 10 of 222 total bound parameter sets ...  (220, 'Africa', 'Saint Helena', 2.0, 2.0, None, None, '22/07/2021', None, 100.0, None, None, None), (221, 'Australia/Oceania', 'Micronesia', 1.0, 1.0, None, None, '22/07/2021', None, 100.0, None, None, None))
2021-07-22 20:23:27,977 INFO sqlalchemy.engine.Engine COMMIT